<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event Management</title>
    <!--    Common Css-->
    <div th:replace="~{common :: common(~{::link})}"></div>
    <link rel="stylesheet" th:href="@{/user/css/header.css}">

</head>
<body>

<!--Header Section -->
<div th:replace="~{components/header-1 :: header}"></div>

<!--section heading -->
<div class="section-head">
    <div class="head-title">
        <h3 class="page-title">Contact Us Section</h3>
    </div>
    <div class="link-sect">
        <span><a th:href="@{/}"><i class="fa-solid fa-house"></i>&nbsp;&nbsp; Home</a></span>
        <span><a th:href="@{/contact}">/&nbsp; Contact Us</a></span>
    </div>
</div>
<!-- About Section -->
<div th:replace="~{components/contact :: contact}"></div>

<!-- Footer Section -->
<div th:replace="~{components/footer :: main-footer}"></div>
<!-- Footer Section End -->


<!-- Common Js -->
<div th:replace="~{common :: common_js(~{::script})}"></div>

<script th:src="@{/user/js/contact.js}"></script>
</body>
</html>
