<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event Management</title>
    <!--    Common Css-->
    <div th:replace="~{common :: common(~{::link})}"></div>
    <link rel="stylesheet" th:href="@{/user/css/lightbox.min.css}" />
    <link rel="stylesheet" th:href="@{/user/css/header.css}">


    <style>
        .gallery-container{
           width: 90%;
           margin: auto;
        }
        .image-gallery{
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
          justify-content: center;
          grid-gap: 5px;
          grid-row-gap: 0px;
          margin-top: 70px;
          margin-bottom: 70px;
        }

        .image-gallery img{
          width: 100%;
        }
        .section-head{

        }

    </style>
</head>
<body>

<!--Header Section -->
<div th:replace="~{components/header-1 :: header}"></div>

<!--section heading -->
<div class="section-head">
    <div class="head-title">
        <h3 class="page-title">Gallery Section</h3>
    </div>
    <div class="link-sect">
        <span><a th:href="@{/}"><i class="fa-solid fa-house"></i>&nbsp;&nbsp; Home</a></span>
        <span><a th:href="@{/gallery}">/&nbsp; Gallery Images</a></span>
    </div>
</div>

<!-- About Section -->
<div th:replace="~{components/gallery :: gallery}"></div>

<!-- Footer Section -->
<div th:replace="~{components/footer :: main-footer}"></div>
<!-- Footer Section End -->


<script th:src="@{/user/js/lightbox-plus-jquery.min.js}"></script>
<!-- Common Js -->
<div th:replace="~{common :: common_js(~{::script})}"></div>

</body>
</html>
