<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event Management</title>
    <!--    Common Css-->
    <div th:replace="~{common :: common(~{::link})}"></div>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/user/css/header.css}">
    <link rel="stylesheet" th:href="@{/user/css/service-slider.css}">
</head>
<body>

<!--Header Section -->
<div th:replace="~{components/header-1 :: header}"></div>

<!-- About Section -->
<div th:replace="~{components/about :: about}"></div>

<!-- Footer Section -->
<div th:replace="~{components/footer :: footer}"></div>
<div th:replace="~{components/footer :: footer-cpy}"></div>
<!-- Footer Section End -->


<!-- Common Js -->
<div th:replace="~{common :: common_js(~{::script})}"></div>

<script th:src="@{/user/js/service-slider.js}"></script>
</body>
</html>
