<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event Management</title>
    <!--    Common Css-->
    <div th:replace="~{common :: common(~{::link})}"></div>
</head>
<body>

<!--Header Section -->
<div th:replace="~{components/header :: header}"></div>

<!-- Testimonial Section -->
<div th:replace="~{components/testimonial :: testimonial}"></div>

<!-- Footer Section -->
<div th:replace="~{components/footer :: footer}"></div>

<div th:replace="~{components/footer :: footer-cpy}"></div>
<!-- Footer Section End -->

<!-- Common Js -->
<div th:replace="~{common :: common_js(~{::script})}"></div>
<script th:src=@{/user/js/testimonial.js}></script>

</body>
</html>
