<!doctype html>
<html lang="`en`">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<!-- control Panel Section Start -->
<section class="control" id="control" th:fragment="control">
    <div class="control-content container">
        <div class="control-text">
            <h2 class="control-title">Control Panel Title</h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo,
                maiores.
            </p>
            <div class="control-spec">
                <div class="spec-box">
                    <i class="bx bxs-check-circle"></i>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing.</span>
                </div>
                <div class="spec-box">
                    <i class="bx bxs-check-circle"></i>
                    <span>ipsum dolor sit amet consectetur adipisicing.</span>
                </div>
                <div class="spec-box">
                    <i class="bx bxs-check-circle"></i>
                    <span>Yefle sit amet consectetur adipisicing.</span>
                </div>
            </div>
        </div>

        <!-- image section -->
        <div class="control-images swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="control-img-box">
                        <img src="img/control-panel-1.png" alt="" class="control-img" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="control-img-box">
                        <img src="img/control-panel-2.png" alt="" class="control-img" />
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
</body>
</html>
