<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!-- Contact Us Section start  -->
<div class="contact-container" th:fragment="contact">
    <div class="row">
        <!-- left section -->
        <div class="col left">
            <div class="contact-title">
                <h2>Get In Touch</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa,
                    qui.
                </p>
            </div>

            <div class="contact-info">
                <div class="icon-group">
                    <div class="icon">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="details">
                        <span>Phone</span>
                        <span>+91 934329843</span>
                    </div>
                </div>
                <div class="icon-group">
                    <div class="icon">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="details">
                        <span>Email</span>
                        <span>even.site@gmail.com</span>
                    </div>
                </div>
                <div class="icon-group">
                    <div class="icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="details">
                        <span>Location</span>
                        <span>Gondhali Nagar, Pune</span>
                    </div>
                </div>
            </div>

            <div class="social-media">
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>

        <!-- right section -->
        <div class="col right">
            <form action="" class="message-form">
                <div class="input-group half-width">
                    <input type="text" name="" required />
                    <label for="">Your Name</label>
                </div>
                <div class="input-group half-width">
                    <input type="email" name="" required />
                    <label for="">E-mail</label>
                </div>
                <div class="input-group full-width">
                    <input type="text" name="" required />
                    <label for="">Address</label>
                </div>
                <div class="input-group full-width">
                    <textarea name="" id="" required></textarea>
                    <label for="">Message</label>
                </div>

                <div class="input-group full-width">
                    <button>Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
