<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<!-- Footer Section Start -->
<div class="footer container" th:fragment="footer">
    <div class="footer-box">
        <a href="" class="footer-logo">Event <span>Management</span></a>
        <div class="social">
            <a href=""><i class="bx bxl-facebook-circle"></i></a>
            <a href=""><i class="bx bxl-youtube"></i></a>
            <a href=""><i class="bx bxl-instagram"></i></a>
        </div>
    </div>
    <div class="footer-box">
        <h2>Our Services</h2>
        <a href="">About</a>
        <a href="">Service</a>
        <a href="">Testimonial</a>
    </div>
    <div class="footer-box">
        <h2>Support</h2>
        <a href="">Contact Us</a>
        <a href="">Terms & Conditions</a>
        <a href="">Policy</a>
    </div>
</div>
<div class="copyright container" th:fragment="footer-cpy">
    <p>&#169; Event Management All righ reserved</p>
</div>

</body>
</html>
