<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="gallery-container"  th:fragment="gallery">
    <div class="image-gallery">
        <a th:href="|data:image/jpeg;base64,${gallery.image}|" data-lightbox="roadtrip" data-title=" First Image"
           th:each="gallery : ${galleryImages}">
            <img th:src="|data:image/jpeg;base64,${gallery.image}|" alt="" />
        </a>
    </div>
</div>

<div class="gallery-container"  th:fragment="gallery2">
    <div class="image-gallery">
        <a th:href="|data:image/jpeg;base64,${gallery.image}|" data-lightbox="roadtrip" data-title=" First Image"
           th:each="gallery : ${fourGallery}">
            <img th:src="|data:image/jpeg;base64,${gallery.image}|" alt="" />
        </a>
    </div>
    <div class="gallery-btn">
        <button><a th:href="@{/gallery}">View More</a></button>
    </div>
</div>
</body>
</html>
