<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!-- Header -->
<header th:fragment="header">
    <!-- Nav  -->
    <div class="nav">
        <!-- logo -->
        <a href="index.html" class="logo"> Event <span>Management</span> </a>

        <!-- Nav Links -->
        <div class="navbar">
            <li>
                <a href="#" class="nav-link">Home</a>
            </li>
            <li>
                <a href="#" class="nav-link">Services</a>
            </li>
            <li>
                <a href="#" class="nav-link">About Us</a>
            </li>
            <li>
                <a href="#" class="nav-link">Testimonial</a>
            </li>
            <li>
                <a href="#" class="nav-link">Contact Us</a>
            </li>
            <!-- <div class="login-btn">
              <span>Login</span>
              <i class="bx bx-chevron-down"></i>
              <div class="drop-login">
                <div class="drop-item">
                  <a href="">Client Area</a>
                  <span>Billing & Support</span>
                </div>
                <div class="drop-item">
                  <a href="">Abc Panle</a>
                  <span>Managment</span>
                </div>
              </div>
            </div> -->

        </div>
        <!-- Menu Icon -->
        <div class="menu-icon">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </div>
</header>
</body>
</html>
