<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!-- Home Section  -->
<section class="home swiper" id="home" th:fragment="home">
    <div class="swiper-wrapper">
        <!-- Swiper Slide 1 -->
        <div class="swiper-slide">
            <div class="home-slide">
                <img src="/user/img/event-1.jpg" class="slide-img" alt="" />
                <div class="home-overlay"></div>
                <div class="home-text container">
                    <h1 class="slide-title">Left 4 Dead <span>Hosting</span></h1>
                    <p class="slide-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                        laboriosam totam repellendus at nulla delectus.
                    </p>
                    <a href="#" class="btn">View Plans</a>
                </div>
            </div>
        </div>
        <!-- Swiper Slide 2 -->
        <div class="swiper-slide">
            <div class="home-slide">
                <img src="/user/img/event-2.jpg" class="slide-img" alt="" />
                <div class="home-overlay"></div>
                <div class="home-text container">
                    <h1 class="slide-title">Garry's Goat <span>Hosting</span></h1>
                    <p class="slide-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                        laboriosam totam repellendus at nulla delectus.
                    </p>
                    <a href="#" class="btn">View Plans</a>
                </div>
            </div>
        </div>
        <!-- Swiper Slide 3 -->
        <div class="swiper-slide">
            <div class="home-slide">
                <img src="/user/img/event-3.jpg" class="slide-img" alt="" />
                <div class="home-overlay"></div>
                <div class="home-text container">
                    <h1 class="slide-title">Prince Of Persia <span>Hosting</span></h1>
                    <p class="slide-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                        laboriosam totam repellendus at nulla delectus.
                    </p>
                    <a href="#" class="btn">View Plans</a>
                </div>
            </div>
        </div>
        <!-- Swiper Slide 4 -->
        <div class="swiper-slide">
            <div class="home-slide">
                <img src="/user/img/event-4.jpg" class="slide-img" alt="" />
                <div class="home-overlay"></div>
                <div class="home-text container">
                    <h1 class="slide-title">Resident Evil 4 <span>Hosting</span></h1>
                    <p class="slide-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                        laboriosam totam repellendus at nulla delectus.
                    </p>
                    <a href="#" class="btn">View Plans</a>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</section>
</body>
</html>
